{% extends 'blogpost/blog_base.html' %}
{% block content %}
    <a href="{% url 'writenew' %}" title="writenew">writenew</a>

    <form action="{% url 'search' %}" method="POST">
        <input type="text" name="t"/>
        <input type="submit" name="search" value="search"/>
    </form>

    {% for blog in blogs %}
        <h2><a href="{% url 'showdetail' blog.id %}">{{ blog.title }}</a></h2>
        <p>body: {{ blog.body }}</p>
        <p>date: {{ blog.timestamp }}</p>
    {% endfor %}
    <a href="{% url 'logout' %}">logout</a>
{% endblock %}

